.DataTableItem-player {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    /* margin: 0; */
    border-bottom-style: solid;
    border-color: azure;
}

.DataTableItem-player > p {
    padding-left: 5px;
    padding-right: 5px; 
}

.DataTableItem-position {
    width: 70px ;
}

.DataTableItem-name {
    flex-grow: 1;
}

.DataTableItem-player-id {
    width: 70px;
    color: #ffffff;
}

.DataTableItem-number {
    width: 70px;
}
