.ChooseTeam-div {
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ChooseTeam-input {
    margin-left: 5px;
    flex-grow: 1;
}

.ChooseTeam-label {
    width: fit-content;
}


.ChooseTeam-submitBtn {
        
}

.ChooseTeam-div > p {
    padding-left: 5px;
    padding-right: 5px;
}