.App-header {
  background-color: #282c34;
  padding-bottom: 3vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(136, 136, 136);
}

.App-link {
  color: #61dafb;
}

.App-data-table {
  width: 65vw;
  background: #61dafb;
  padding: 5vw;
  margin-left: auto;
  margin-right: auto;
}

.App-set-team {
  padding: 3vh;
}

.App {
  
  background: #c1f6ff;
}

label {
  height: 40px;
}

button {
  height: 40px;
  width: fit-content;
  border-width: 0;
  background-color: #61dafb;
  /* почему-то общее правило шрифтов на кнопки не распространяется */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

input {
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding: 0px 0px 0px 10px;
  margin: 0;
  border-width: 0;
}

input:focus {
  border-width: 0px;
}

.error-message {
  font-size: 50px;
  color: #282c34;
}