.PlayerStatsTable-stats {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.PlayerStatsTable-name {
  font-size: calc(22px + 2vmin);
}

.PlayerStatsTable {
  color: #265461;
  min-height: 1000px
}

.PlayerStatsTable-player {
  text-align: center;
  margin-bottom: 3vh;
}

.PlayerStatsTable-photo {
  height: 150px;
}

.PlayerStatsTable-header {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  background-color: #c1f6ff;
}

.PlayerStatsTable-header > p {
  color:#265461;
  padding-left: 5px;
  padding-right: 5px; 
}

.PlayerStatsTable-service-message {
  height: 100vh;
  text-align: center;
  font-size: 40px;
}