.DataTable-items {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.DataTable-teamname {
  font-size: calc(22px + 2vmin);
}

.DataTable {
  color: #265461;
}

.DataTable-teamLogo {
  height: 150px;
}


.DataTable-team {
  text-align: center;
  margin-bottom: 3vh;
}

.DataTable-header {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  background-color: #c1f6ff;
}

.DataTable-header > p {
  color:#265461;
  padding-left: 5px;
  padding-right: 5px; 
}

.DataTable-service-message {
  height: 100vh;
  text-align: center;
  font-size: 40px;
}
